## Loogilised tehted (vt truth tables)

In [7]:
print("Logical operators")
print(True or False)#True
print(True and False)#False
print(False or True)
print(False and False and True)
print(False or False and True)
print(False and False or True)
print(not False)

Logical operators
True
False
True
False
False
True
True

In [8]:
print("fox" not in "cow, sheep, cat")
print("wine" in "France is famous for its wines")

True
True

## dicc in list

In [59]:
database=[]

user1 = {
 'name': 'Mike',
 'age': 35,
}

user2 = {
 'name': 'Lina',
 'last_name': 'Tamm',
}

user3 = {
 'name': 'Jenny',
 'city': 'Madrid'
}

database.append(user1)
database.append(user2)
database.append(user3)


def add_phone(phone_number):
    user['phone'] = phone_number
    return user

for user in database:
    if user['name'] == 'Mike':
        add_phone('555')
    if user['name'] == 'Lina':
        add_phone('789')
    if user['name'] == 'Jenny':
        add_phone('364')
        
    print(database)
    
#print(database)

[{'name': 'Mike', 'age': 35, 'phone': '555'}, {'name': 'Lina', 'last_name': 'Tamm'}, {'name': 'Jenny', 'city': 'Madrid'}]
[{'name': 'Mike', 'age': 35, 'phone': '555'}, {'name': 'Lina', 'last_name': 'Tamm', 'phone': '789'}, {'name': 'Jenny', 'city': 'Madrid'}]
[{'name': 'Mike', 'age': 35, 'phone': '555'}, {'name': 'Lina', 'last_name': 'Tamm', 'phone': '789'}, {'name': 'Jenny', 'city': 'Madrid', 'phone': '364'}]